.full{
    width: 100%;
    
    background-color: black;
}
#imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    margin: auto;
}


@keyframes title{
    from {font-size: 10px; color: black; }
    to {font-size: 8vw; color: white;}
}
#text{  
    font-size: 8vw;
    color: white;
    animation-name: title;
    animation-duration: 6s;
}
#footer{
    
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    
    margin: auto;
    margin-bottom: 10px;
}
.mediaLinks{
    
    display: inline;
    text-decoration: none;
    color: white;
    padding:  20px;
}
#textLines{
    color: white;
}
#bioTitle{
    
    top: 35%;
    color: white;
    font-family: Rancho;
}
#media{
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
}
.mediaContainer{
    width: auto;
    
}
.mediaTitles{
    color: white;
}
@media only screen and (max-width: 900px){
    #imgContainer{
        width: 75%;
    }
    #text{
        font-size: 12vw;
    }
    iframe{
        width: 100%;
        height: 200px;
    }
   
}
html{
    background-color: black;
}

.merchBox{
    width: 70%;
    margin: auto;
}
